.leaderboard-box {
    background-color: #c5c5c5;
}

.tab {
    width: 10em;
    border: none;
    border-radius: 20px 20px 0 0;
    background-color: #e6e6e6;
    font-size: 17px;
    padding:5px;
    cursor: pointer;
}

.active {
    background-color: #c5c5c5;
    cursor: default;
}

table{
    width: 100%;
    text-align: center;
    padding: 5px 40px
}

.column-names {
    width:100%;
    justify-content: center;
}

.player {
    background-color: white;
}