<app-navbar></app-navbar>

<!-- <div class="head">
    GAME
</div>
<body *ngIf="checkRounds() && !loading">

    <div class="sound" (click)="playMusic()">
        <i *ngIf="!sound.playing()" class="fa fa-play"></i>
        <i *ngIf="sound.playing()" class="fa fa-pause"></i>
        <!-- <button class="submit" style = "font-size: 50px;" (click)="playMusic()">{{sound.playing() ? 'Stop' : 'Play'}}</button> -->
    </div>
<div class="grid-container" *ngIf = "!hider" style="width:100%">
    <div class="grid">
        <div *ngFor="let choice of choices" >
            <button  [style.background-color]="picked==choice['id'] ? '#00ffb3' : 'white' " (click)="onPress(choice)">
                <app-options [track]="choice['info']" [id]="choice['id']">
                </app-options>
            </button>
        </div>
    </div>
</div>
<div style="width: 100%" *ngIf="!hider">
    <button class="button" style= "align-self: center;" (click)="onSubmit()" >Guess</button>
</div>

<div style="align-items: center; align-content: center; align-self:center; width:100% " *ngIf="hider">

    <div *ngIf="picked != correct['id']">
        <p>Incorrect</p>
    </div>
<div style="float: left; width: 50%;">
    <p>You picked: </p>
    <div style=" max-width: fit-content; margin:auto" [style.background-color]="(picked == correct['id']) ? 'green' : 'red'">
        <app-options [track]="choices[picked - 1]['info']"></app-options>
    </div>
</div>

<div style="float: right; width: 50%">
    <p>Correct Answer: </p>

    <div style="margin: auto; max-width: fit-content;">
    <app-options [track]="correct['info']"></app-options>
    </div>
</div>
<br>
<div>
    <button *ngIf="(!end)" class="submit" (click)="nextGame()" >Next Round</button>
    <button *ngIf="(end)" class="submit" (click)="endGame()">Game Over</button>

</div>
</div>
</body>

<body *ngIf="loading" style="font-size: 30px;">
    loading ...
    <p> If loading takes took long, please return to homepage and try again.</p>
    <button routerLink="/" class="submit button">Return Home</button>
</body>

