<app-navbar></app-navbar>
<p>game works!</p>

<table *ngIf = "!hider">
    <tr>
        <th>options</th>
    </tr>
    <tr>
        <td *ngFor="let choice of choices">
            <button class="button" [style.background-color]="picked==choice['id'] ? '#00ffb3' : 'white' " (click)="onPress(choice)">
                <app-options [track]="choice['info']" [id]="choice['id']">

                </app-options>
            </button>
        </td>
    </tr>

    <button class="submit" (click)="onSubmit()" >Guess</button>
</table>

<div *ngIf="hider">

    <div *ngIf="picked != correct['id']">
        <p>Incorrect</p>
    </div>

    <p>You picked: </p>
    <div style="max-width: 400px;" [style.background-color]="(picked == correct['id']) ? 'green' : 'red'">
    <app-options [track]="choices[picked - 1]['info']"></app-options>
    </div>
    <p>Correct Answer: </p>
    <app-options [track]="correct['info']"></app-options>

    <button *ngIf="(rounds > round)" class="submit" (click)="nextGame()" >Next Round</button>
    <button *ngIf="(rounds <= round)" class="submit" routerLink="/gameover">Game Over</button>

</div>
