button{
    border-style: none;
    padding:0px;
    background-color: transparent;
    border-radius: 5px;
}
.submit{
    border-style: outset;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    margin:15px;
}
.submit:hover{
    background-color: aqua;
}
.head{
    font-size: 40px;
    font-style: italic;
    border-style: groove;
    border-color: black;
    border-width: 10px;
    text-align: center;
}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

body{
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}