<app-navbar></app-navbar>
<div class="container grey">
    <form [formGroup]="settingsFormGroup" class="form-box">
        <label for="volume" class="large-label">Volume:</label>
        <input id="volume-bar" type="range" name="volume" formControlName="volume"/>
        <label for="rounds" class="large-label">Number of Rounds:</label>
        <input type="number" name="rounds" formControlName="rounds"/>
        <label for="songChoices" class="large-label">Number of song choices per round:</label>
        <input type="number" name="songChoices" formControlName="songChoices"/>
    </form>
    <app-button (click)="updateSettings()" text="Save settings"></app-button>
</div>
