<app-navbar></app-navbar>
<div class="container" id="home">
  <h1 class="header">Who's Who</h1>
  <form [formGroup]="homeGameForm" class="form-box" id="home-form">
    <label class="label"for="years">Enter a range of years</label>
    <div id="year-container">
      <input type="number" name="years" formControlName="yearsFrom" class="year-input"/> 
      <p style="margin: 2px">-</p>
      <input type="number"name="years" formControlName="yearsTo" class="year-input"/>
    </div>
    <label class="label" for="genre">Select a genre</label>
    <select name="genre" formControlName="selectedGenre">
      <option *ngFor="let genre of genres">{{genre}}</option>
    </select>
  </form>
  <app-button (click)="startGame(token, 'Regular')" text="Play"></app-button>
  <app-button (click)="startGame(token, 'Infinite')" text="Infinite Mode"></app-button>
</div>