<app-navbar></app-navbar>
<div class="container game-over-page">
	<h1 class="header" id="game-over-text" style="color: red;">Game Over</h1>
	<div class="score-container">
		<h1 class="score-label">You Scored: </h1>
		<h2 class="grey score">{{score}} Points</h2>
	</div>

	<form [formGroup]="leaderboardForm" class="form-box" style="margin-top:0">
		<div>
			<label for="name" class="label">Enter your name:</label>
			<input class="grey" type="text" formControlName="name">
		</div>
	</form>

	<div>
		<button class="button" *ngIf="!submitted" (click)="onPress()">Submit</button>
		<!-- <button class="button" (click)="onPress()">Submit</button> -->
		<button class="button" routerLink="/">Play again</button>
	</div>
	<app-leaderboard id="leaderboard" [Regular]="mode == 'Regular' ? true: false"></app-leaderboard>
</div>